<h3>Listing Cards</h3>

<section>
  <ul class="cards">
    <% @cards.each do |card| %>
      <li>
      <%= "Front: #{card.front} -> Back: #{card.back}" %>
        <%= link_to 'Edit', edit_card_path(card) %>
      </li>
    <% end %>
  </ul> 
</section>

<%= link_to 'Back', root_path %>